.App {
  text-align: center;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  align-items: center;
 
  
  background-color: rgb(212, 205, 196);
}

.App h1{
  font-family: 'Dela Gothic One', cursive;
  font-weight: 400;
  display: inline-block
}

.fret{
  border: solid 2px black;
  margin-top: 7px;
  width: 300px;
}

.string{
  height: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: gray;
  position: relative;
  user-select: none;
}

.string:hover{
  cursor: pointer;
}

img{
  height: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.final-guitar{
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
}

